<%- include('./layout/navbar-admin') %>

<table class="table table-striped table-bordered table-hover table-sm table-dark">
    <tr>
        <th>Log ID</th>
        <th>Name</th>
        <th>Time</th>
        <th>Parameters</th>
    </tr>
    <% for (let i = 0; i < result.length; i++) { %>
        <tr>
            <td><%= result[i].LOG_ID %></td>
            <td><%= result[i].NAME %></td>
            <td><%= result[i].TIME %></td>
            <td><%= result[i].PARAMETERS %></td>
        </tr>
    <% } %>
</table>

<%- include('./layout/footer') %>

</body>
</html>