<%- include('./layout/navbar-admin') %>

<table class="table table-striped table-bordered table-hover table-sm table-dark">
    <tr>
        <th>Ticket ID</th>
        <th>User ID</th>
        <th>Bus ID</th>
        <th>Transaction ID</th>
        <th>Starting Stand</th>
        <th>Ending Stand</th>
        <th>Distance ID</th>
        <th>Travel Time</th>
        <th>Seat Number</th>
        <th>Ticket Price</th>
    </tr>
    <% for (let i = 0; i < result.length; i++) { %>
        <tr>
            <td><%= result[i].TICKET_ID %></td>
            <td><%= result[i].USER_ID %></td>
            <td><%= result[i].BUS_ID %></td>
            <td><%= result[i].TRANSACTION_ID %></td>
            <td><%= result[i].STARTING_STAND %></td>
            <td><%= result[i].ENDING_STAND %></td>
            <td><%= result[i].DISTANCE_ID %></td>
            <td><%= result[i].TRAVEL_TIME %></td>
            <td><%= result[i].SEAT_NUMBER %></td>
            <td><%= result[i].TICKET_PRICE %></td>
        </tr>
    <% } %>
</table>

<%- include('./layout/footer') %>

</body>
</html>

