<%- include('./layout/navbar-admin') %>

<table class="table table-striped table-bordered table-hover table-sm table-dark">
    <tr>
        <th>Bus Company Name</th>
        <th>Rating</th>
        <th>Tickets Sold</th>
        <th>All TIme Revenue</th>
    </tr>
    <% for (let i = 0; i < result.length; i++) { %>
        <tr>
            <td><%= result[i].BUS_COMPANY_NAME %></td>
            <td><%= result[i].RATING %></td>
            <td><%= result[i].TICKETS_SOLD %></td>
            <td><%= result[i].REVENUE %></td>
        </tr>
    <% } %>
</table>

<%- include('./layout/footer') %>

</body>
</html>

