<%- include('./layout/navbar-route') %>

<head>
    <!-- <link rel="stylesheet" href="/css/booking.css"> -->
</head>

<body>

<table class="table table-striped table-bordered table-hover table-sm table-dark">
    <tr>
        <th>Route</th>
        <th>Intermediate Stands</th>
        <th>Distance</th>
        <th>Action</th>
    </tr>
    <% for (let i = 0; i < result.length; i++) { %>
        <tr>
            <td><%= result[i].START_STAND %> to <%= result[i].END_STAND %></script></td>
            <td><%= result[i].INTERMEDIATE_STANDS %></td>
            <td><%= result[i].DISTANCE %></td>
            <td>
                <form action="/admin/route/delete" method="POST">
                    <input type="hidden" name="routeId" value="<%= result[i].ROUTE_ID %>">
                    <button type="submit" id="delete-route" name="delete-route"
                        style="margin-bottom: 5px; margin-top: 5px;"
                        class="btn btn-danger btn-sm m-2"
                    >Delete</button>
                </form>
                <!-- <button class="btn-primary" data-bus-company="<%= result[i].BUS_COMPANY_NAME %>">
                    View
                </button> -->
            </td>
        </tr>
    <% } %>
</table>

</body>

<%- include('./layout/footer') %>

</body>
</html>

