<%- include('./layout/navbar-route') %>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/booking.css">
</head>

<body>
    <script>
        let stands = ['Dhaka',
            'Bagerhat',
            'Bandarban',
            'Barguna',
            'Barisal',
            'Bhola',
            'Bogra',
            'Brahmanbaria',
            'Chandpur',
            'Chittagong',
            'Chuadanga',
            'Comilla',
            'Coxs Bazar',
            'Dinajpur',
            'Faridpur',
            'Feni',
            'Gaibandha',
            'Gazipur',
            'Gopalganj',
            'Habiganj',
            'Jamalpur',
            'Jessore',
            'Jhalokathi',
            'Jhenaidah',
            'Joypurhat',
            'Khagrachhari',
            'Khulna',
            'Kishoreganj',
            'Kurigram',
            'Kushtia',
            'Lakshmipur',
            'Lalmonirhat',
            'Madaripur',
            'Magura',
            'Manikganj',
            'Meherpur',
            'Moulvibazar',
            'Munshiganj',
            'Mymensingh',
            'Naogaon',
            'Narail',
            'Narayanganj',
            'Narsingdi',
            'Natore',
            'Nawabganj',
            'Netrakona',
            'Nilphamari',
            'Noakhali',
            'Pabna',
            'Panchagarh',
            'Patuakhali',
            'Pirojpur',
            'Rajbari',
            'Rajshahi',
            'Rangamati',
            'Rangpur',
            'Satkhira',
            'Shariatpur',
            'Sherpur',
            'Sirajganj',
            'Sunamganj',
            'Sylhet',
            'Tangail',
            'Thakurgaon'
        ]
        const times = ['', '08:00', '09:00', '10:00', '11:00', '12:00', '20:00', '21:00', '22:00', '23:00', '00:00'];
        const busTypes = ['', 'Sleeper Coach', 'AC Bus', 'Non-AC Bus']
        const busCompanies = ['', 'Shyamoli Paribahan', 'Soudia Air Con', 'Soudia Coach Service', 'Agomony Express', 'Akota Transport', 'Al-Mobaraka Paribahan', 'Alhamra Paribahan', 'Chaklader Paribahan', 'Comfort Line', 'Dhaka Line', 'Diganta Express', 'Diganta Paribahan', 'Dipjol Enterprise', 'Elish Paribahan', 'Ena Transport', 'Green Line Paribahan', 'Hanif Enterprise', 'HIMACHOL', 'Islam Paribahan', 'Kanak Paribahan', 'M M Paribahan', 'Manik Express', 'Nabil Paribahan', 'New S.B Super Deluxe', 'Star Line Special', 'Tisha Group', 'Tuba Line', 'Tungipara Express', 'Year-71', 'Ranga Provat Paribahan', 'Relax Transport', 'Royal Coach', 'Rozina Enterprise', 'S.B Super Deluxe', 'S.R Travels', 'Sagorika Enterprise', 'Saintmartin Hyundai', 'Saintmartin Paribahan', 'Saintmartin Travels', 'Shahzadpur Travels', 'Sheba Green Line', 'Sheba Transport', 'Shohagh Paribahan', 'Shoukhin Paribahan', 'Shuvo Bosundhara Paribahan', 'SP Golden Line']
    </script>
    <table class="table table-striped table-bordered table-hover table-sm table-dark">
        <tr>
            <th>Route</th>
            <th>Intermediate Stands</th>
            <th>Distance</th>
            <th>Action</th>
        </tr>
        <% for (let i = 0; i < result.length; i++) { %>
            <tr>
                <td><%= result[i].START_STAND %> to <%= result[i].END_STAND %></script></td>
                <td><%= result[i].INTERMEDIATE_STANDS %></td>
                <td><%= result[i].DISTANCE %></td>
                <td>
                    <!-- Button to open the update modal -->
                    <button type="button" class="btn btn-primary btn-sm m-2" data-toggle="modal" data-target="#updateModal<%= i %>" style="margin-bottom: 5px; margin-top: 5px;">
                        Update
                    </button>

                    <!-- Update Modal -->
                    <div class="modal fade" id="updateModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel" style="color: black;">Update Route</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Form for updating route -->
                                    <form action="/admin/route/update" method="POST">
                                        <input type="hidden" name="routeIndex" value="<%= i %>">
                                        <input type="hidden" name="routeId" value="<%= result[i].ROUTE_ID %>">
                                        <input type="hidden" name="startStandName" value="<%= result[i].START_STAND %>">
                                        <input type="hidden" name="endStandName" value="<%= result[i].END_STAND %>">

                                        <!-- <% for (let j = 0; j < result[i].INTERMEDIATE_STANDS.split(',').length; j++) { %>
                                            <div id="intermediateStands">
                                                <label for="intermediate">Intermediate Stands</label><br>
                                                <select name="intermediateStand" class="intermediateStand">
                                                    <script>
                                                        document.write(`<option value="<%- result[i].INTERMEDIATE_STANDS.split(',')[j] %>"><%- result[i].INTERMEDIATE_STANDS.split(',')[j] %></option>`);

                                                        stands.forEach(stand => {
                                                            if (stand !== '<%- result[i].INTERMEDIATE_STANDS.split(',')[j] %>') {
                                                                document.write(`<option value="${stand}">${stand}</option>`)
                                                            }
                                                        })
                                                    </script>

                                                </select>
                                            </div>
                                        <% } %> -->
                                    <label for="intermediate">Intermediate Stands</label><br>
                                    <div id="intermediateStandsDiv<%= i %>">
                                        <% for (let j = 0; j < result[i].INTERMEDIATE_STANDS.split(',').length; j++) { %>
                                            <div id="intermediateStands<%= i %>">
                                                <select name="intermediateStand<%= i %>" class="intermediateStand">
                                                    <script>
                                                        document.write(`<option value="<%- result[i].INTERMEDIATE_STANDS.split(',')[j] %>"><%- result[i].INTERMEDIATE_STANDS.split(',')[j] %></option>`);

                                                        stands.forEach(stand => {
                                                            if (stand !== '<%- result[i].INTERMEDIATE_STANDS.split(',')[j] %>') {
                                                                document.write(`<option value="${stand}">${stand}</option>`)
                                                            }
                                                        })
                                                    </script>

                                                </select>
                                            </div>
                                        <% } %>
                                    </div>
                                        <div id="intermediateStands<%= i %>" hidden>
                                            <select name="intermediateStand<%= i %>" class="intermediateStand">
                                                <script>
                                                    document.write(`<option value="">""</option>`);
                                                </script>

                                            </select>
                                        </div>

                                        <script>
                                            // let data = [0, 1, 2, 3, 4, 5];
                                            // let index = 3;
                                            // data.unshift(data.splice(index, 1)[0]);

                                            
                                        </script>

                                        <!-- hidden labels for intermediate stand, with button add intermediate stand -->
                                        <div style="display: flex; justify-content: center;">
                                            <button type="button" onclick="addIntermediateStand(<%= i %>)" class="btn btn-info btn-sm m-2">Add Intermediate Stand</button>
                                            <button type="button" onclick="removeIntermediateStand(<%= i %>)" class="btn btn-danger btn-sm m-2">Remove intermediate Stand</button>
                                            <button type="submit" class="btn btn-info btn-sm m-2">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% } %>
    </table>

    <script>
        function addIntermediateStand(routeIndex) {
            // const intermediateStandsDivs=document.querySelectorAll(`#intermediateStands${routeIndex}`);
            // console.log(intermediateStandsDivs)
            // const length=intermediateStandsDivs.length;
            // const lastInterm
            // const modalBody=document.querySelector(`#updateModal${routeIndex} .modal-body`);
            // console.log(modalBody)
            const intermediateStandsDiv = document.querySelector(`#intermediateStandsDiv${routeIndex}`);
            console.log(intermediateStandsDiv)
            const intermediateStand=document.createElement('div');
            intermediateStand.id=`intermediateStands${routeIndex}`;
            const select=document.createElement('select');
            select.name=`intermediateStand${routeIndex}`;
            select.classList.add='intermediateStand';
            stands.forEach(stand => {
                const option=document.createElement('option');
                option.value=stand;
                option.innerHTML=stand;
                select.appendChild(option);
            })
            intermediateStand.appendChild(select);
            console.log(intermediateStand)
           

            intermediateStandsDiv.appendChild(intermediateStand);
            console.log(intermediateStandsDiv)
        }
    </script>
    <script>
        function removeIntermediateStand(routeIndex) {
            const intermediateStandsDiv = document.querySelector(`#intermediateStandsDiv${routeIndex}`);
            const intermediateStands = document.querySelectorAll(`#intermediateStands${routeIndex}`);
            console.log(intermediateStandsDiv, intermediateStands)
            if (intermediateStands.length > 2) {
                intermediateStands[intermediateStands.length - 2].remove();
            }
        }
    </script>

    <%- include('./layout/footer') %>
</body>
</html>
