<link rel="stylesheet" href="/css/routecard.css">
<style>
    .rounded-img{
     width: 50px;
     height: 50px;
     object-fit: cover;
     border-radius: 50%;
    }
</style>
    <div class="row" data-bus-rating="<%- bus.BUS_RATING %>" data-ticket-price="<%- (bus.TICKET_PRICE*route.DISTANCE).toFixed(2) %>" data-seat-remaining="<%- seat.REMAINING_SEAT %>">
        <div class="col-mb-4">
            <div class="card p-3 mb-2" style="height: 400px;" data-bus-rating="<%- bus.BUS_RATING %>" data-ticket-price="<%- (bus.TICKET_PRICE*route.DISTANCE).toFixed(2) %>" data-seat-remaining="<%- seat.REMAINING_SEAT %>">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon">
                            <img src="<%= bus.BUS_RELATED_MEDIA %>" alt="" class="rounded-img">
                        </div>

                        <div class="ms-2 c-details">
                        </div>
                    </div>
                    <!-- <div class="badge"> <span><%= route.BUS_TYPE %></span> </div> -->
                </div>
                <div class="mt-5" style="height: 80px;">
                    <h2 class="heading" style="height: 70px;" ><%= bus.BUS_COMPANY_NAME %></h2>

                    <% if(seat.REMAINING_SEAT > 0) { %>
                        <h4 class="heading" style="color: green;">Available</h4>
                        <h4 class="'heading" style="color: black">Remaining Seats: <%= seat.REMAINING_SEAT %></h4>
                        <script>
                            console.log('>0')
                            console.log('<%= bus.BUS_COMPANY_NAME %>')
                            console.log('<%= seat.REMAINING_SEAT %>')
                        </script>
                    <% } else { %>
                        <h4 class="heading" style="color: red;">Not Available</h4>
                        <h4 class="heading" style="color: black">All seats booked</h4>
                        <script>
                            console.log('<0')
                            console.log('<%= bus.BUS_COMPANY_NAME %>')
                            console.log('<%= seat.REMAINING_SEAT %>')
                        </script>
                    <% } %>
                    <div class="mt-5">
                    </div>
                </div>
                <br>
                <div class="mt-5" style="height: 50px;">
                    <h4 class="heading">⭐<%= (bus.BUS_RATING).toFixed(2) %></h4>
                    <h4 class="heading">&nbsp;৳ <%= (bus.TICKET_PRICE*route.DISTANCE).toFixed(2) %></h4>
                </div>
                <div>
                <form action="/booking/seat" method="POST">
                    <input type="hidden" name="busCompany" value="<%= bus.BUS_COMPANY_NAME %>">
                    <input type="hidden" name="startStandName" value="<%= route.START_STAND %>">
                    <input type="hidden" name="endStandName" value="<%= route.END_STAND %>">
                    <input type="hidden" name="busType" value="<%= route.BUS_TYPE %>">
                    <input type="hidden" name="date" value="<%= date %>">
                    <input type="hidden" name="time" value="<%= time %>">

                    <% if (seat.REMAINING_SEAT > 0) { %>
                        <button type="submit" id="book-btn" name="book-btn"
                            style="margin-bottom: 10px; margin-top: 30px;"
                            class="btn btn-success"
                        >Book</button>
                    <% } else { %>
                        <button type="submit" id="book-btn" name="book-btn"
                            style="margin-bottom: 10px; margin-top: 30px;"
                            class="btn btn-success"
                            hidden
                        >Book</button>
                    <% } %>
                </form>
                    

                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        $('.btn-success').click(function () {
    // Extract information from the data attributes
    const busCompany = $(this).data('busCompanyName');
    const remainingSeats = $(this).data('remainingSeats');
    const busRating = $(this).data('busRating');
    const ticketPrice = $(this).data('ticketPrice');
    const busType = $(this).data('busType');
    const date = $(this).data('date');
    const time = $(this).data('time');
    const startStandName = $(this).data('startStand');
    const endStandName = $(this).data('endStand');
    console.log(busCompany, remainingSeats, busRating, ticketPrice, busType, date, time, startStandName, endStandName);
    const values={
        busCompany: busCompany,
        remainingSeats: remainingSeats,
        busRating: busRating,
        ticketPrice: ticketPrice,
        busType: busType,
        date: date,
        time: time,
        startStandName: startStandName,
        endStandName: endStandName  
    };
    console.log(values);
    // Construct the URL for redirection with the extracted information
    // const redirectUrl = `/details-page?busCompany=${busCompany}&remainingSeats=${remainingSeats}&busRating=${busRating}&ticketPrice=${ticketPrice}`;

    // // Redirect to the new page
    // window.location.href = redirectUrl;
    fetch('/booking/seat', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
    },
        body: JSON.stringify(values),
    }).then(res => {
        if (res.ok) {
            return res.json();
        }
    }).then(data => {
        console.log(data);
    }).catch(err => {
        console.log(err);
    });
});
    </script> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>