<!-- bookingCard.ejs -->

<%- include ('./layout/navbar', {loggedIn: loggedIn}); %>
<script>
    let booked_seat_count=0;
    let discount=true;
</script>



<link rel="stylesheet" href="/css/booking-card.css">
<body style="background: linear-gradient(45deg, #bfaae3, #f0b9b9, #c6c09f) no-repeat fixed;">
    <style>
        html, body {
      margin: 0;
      padding: 0;
    }
    
    </style>

<div class="booking-card">
    <!-- Display result details here -->
        <% if (Array.isArray(result)) { %>
            <% result.forEach(function(route) { %>
                <%- include('./seat-booking.ejs', {route: route}); %>
            <% }); %>
        <% } else if (result) { %>
            <% result = [result]; // Convert to array if not already %>
            <% result.forEach(function(route) { %>
                <%- include('./seat-booking', {route: route}); %>
            <% }); %>
        <% } else { %>
            <p>No data available.</p>
        <% } %>

    <!-- Add a form with a hidden input field -->
    <form action="/routes/book" method="POST">
        <input type="hidden" name="startStandName" value="<%= result[0].START_STAND %>">
        <input type="hidden" name="endStandName" value="<%= result[0].END_STAND %>">
        <input type="hidden" name="busCompany" value="<%= result[0].BUS_COMPANY_NAME %>">
        <input type="hidden" name="busType" value="<%= result[0].BUS_TYPE %>">
        <input type="hidden" name="date" value="<%= date %>">
        <input type="hidden" name="time" value="<%= time %>">
        <input type="hidden" name="price" id="price" value="<%= result[0].TOTAL_COST %>">
        <input type="hidden" name="discount" id="discount" value="<%= result[0].TOTAL_COST*(1-result[0].DISCOUNT.DISCOUNT) %>">
        <input type="hidden" name="event_id" id="event_id" value="<%= result[0].DISCOUNT.EVENT_ID %>">


        <!-- Add a button to submit the form -->
        <!-- <button type="submit" hidden>Book Now</button> -->
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <div class="seat-layout">
        <% if (result[0].BUS_TYPE == "Sleeper Coach") {  %>
            <%- include('./seats-sleeper.ejs'); %>
        <% } else if (result[0].BUS_TYPE == "AC Bus") { %>
            <%- include('./seats-ac.ejs'); %>
        <% } else { %>
            <%- include('./seats-nonac.ejs'); %>
        <% } %>
    </div>
    <% bookedSeats.forEach(function(seat) { %>
        <script>
            booked_seat_count=booked_seat_count+1;
            document.getElementById('<%= seat %>').disabled = true;
            document.getElementById('<%= seat %>').checked=true;
        </script>
    <% }); %>
    <script>
        $(document).ready(function() {
        $('.seat input').on('click', updateCost);
    });
    </script>
    <% if (result[0].DISCOUNT.DISCOUNT==0) {  %>
        <script>
            discount=false;
        </script>
    <% } %>
    <script>
        console.log(discount);
        function updateCost() {
            console.log("Update Cost function called");
            let total_checked=0;
            let per_seat_cost="<%= result[0].TOTAL_COST %>";
            let discount_pct,event_name;
            if(discount){
                discount_pct="<%= result[0].DISCOUNT.DISCOUNT %>";
                event_name="<%- result[0].DISCOUNT.EVENT_NAME %>";
            }else{
                discount_pct=0;
                event_name='';
            }
            console.log(per_seat_cost);
            document.querySelectorAll('.seat input:checked').forEach(seat => {
                total_checked=total_checked+1;
            });
            let new_booked=total_checked-booked_seat_count;
            console.log(booked_seat_count,total_checked,new_booked);
            let total_cost=per_seat_cost*new_booked;
            let discounted_cost=total_cost*(1-discount_pct);
            console.log(total_cost);
            console.log(discounted_cost);
            let costLabel=document.getElementById('checkout_cost');
            let discountLabel=document.getElementById('discount_span');
            let eventLabel=document.getElementById('event');
            const strike=document.getElementById('strike');
            const final=document.getElementById('final');
            const ticketCount=document.getElementById('ticketCount');
            costLabel.textContent=total_cost.toFixed(2)+" Tk";
            final.innerText="৳ "+discounted_cost.toFixed(2);
            ticketCount.innerText=new_booked
            if(discount){
                costLabel.textContent+=" ";
                costLabel.style+=";text-decoration: line-through; color: red;";
                discountLabel.textContent=discounted_cost.toFixed(2)+" Tk";
                strike.innerText="৳ "+total_cost.toFixed(2);
                discountLabel.style="color: green;";
                eventLabel.textContent=discount_pct*100+"% discount for "+event_name;
                eventLabel.style="color: blue;";
            }
            if(new_booked==0){
                strike.innerText="";
            }
        }
    </script>

    

</div>
<div style="text-align: center;" hidden>
    <h3 >Total Cost: <span id="checkout_cost">0 Tk</span><span id="discount_span"></span></h3>
    <h2><span id="event"></span></h2>
</div>
<div class="confirm-button" hidden>
<button id="confirm" type="button" style="background-color: rgb(106, 160, 12); color: aliceblue; padding: 5px; border-radius: 5px; margin: 10px; font-family: sans-serif, Courier, monospace; font-weight: bold; font-style: oblique; box-shadow: 2px 2px rgb(147, 208, 208);">Confirm</button>
</div>
<!-- <script>
    const confirmBtn = document.getElementById('confirm');
    confirmBtn.addEventListener('click', () => {
        const seats = document.querySelectorAll('.seat input:checked');
        const seatNumbers = [];
        seats.forEach(seat => {
            seatNumbers.push(seat.id);
        });
        console.log(seatNumbers);
        console.log(seats.length);
        const seatNumbersInput = document.createElement('input');
        seatNumbersInput.type = 'hidden';
        seatNumbersInput.name = 'seatNumbers';
        seatNumbersInput.value = seatNumbers;
        const form = document.querySelector('form');
        form.appendChild(seatNumbersInput);
        form.submit();
    });
</script> -->


<script>
    const confirmBtn = document.getElementById('confirm');
    confirmBtn.addEventListener('click', () => {
        window.alert('Tickets Booked!😀')
        const seats = document.querySelectorAll('.seat input:checked');
        const seatNumbers = Array.from(seats).map(seat => seat.id);
        console.log(seatNumbers);

        // Add the selected seat numbers to the form data
        const form = document.querySelector('form');
        const seatNumbersInput = document.createElement('input');
        seatNumbersInput.type = 'hidden';
        seatNumbersInput.name = 'seatNumbers';
        seatNumbersInput.value = seatNumbers.join(',');
        form.appendChild(seatNumbersInput);

        // Submit the form
        form.submit();
    });
</script>

    
</body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="mt-5">
    
    
    
          <div class="d-style bgc-white btn btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow-sm border-2">
            <!-- Pro Plan -->
            <div class="row align-items-center">
              <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
                  Total Cost
                </h4>
    
                <div class="text-secondary-d2 text-120">
                  <div class="text-danger-m3 text-90 mr-1 ml-n4 pos-rel d-inline-block">
                    <span class="text-150 deleted-text" id="strike"></span>
                    <span>
                        <span class="d-block rotate-45 position-l mt-n475 ml-35 fa-2x text-400 border-l-2 h-5 brc-dark-m1"></span>
                    </span>
                  </div>
                  <span class="align-text-bottom"></span><span class="text-180" id="final"> ৳ 0.00</span>
                </div>
              </div>
    
              <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                <li>
                  <i class="fa fa-circle text-success-m2 text-110 mr-2 mt-1"></i>
                  <span>
                    <span class="text-110" id="costPerTicket">&nbsp;Price per ticket :  ৳ <%= result[0].TOTAL_COST.toFixed(2) %></span>
                  </span>
                </li>
    
                <li class="mt-25">
                  <i class="fa fa-circle text-success-m2 text-110 mr-2 mt-1"></i>
                  <span class="text-110">&nbsp;Total tickets reserved : <span class="text-110" id="ticketCount"> 0</span>
                </span>
                </li>
    
                <% if(result[0].DISCOUNT.DISCOUNT!=0){ %>
                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            &nbsp;<%= result[0].DISCOUNT.DISCOUNT*100 %>% discount for <%= result[0].DISCOUNT.EVENT_NAME %>
                      </span>
                      </li>
                <% } %>
              </ul>
    
              <div class="col-12 col-md-4 text-center">
                <a href="#" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600" id="reserve">Reserve</a>
              </div>
            </div>
            <script>
                document.getElementById('reserve').addEventListener('click', () => {
                    document.getElementById('confirm').click();
                });
            </script>
    
          </div>
    
    
    
          
        </div>
    </div>


<!-- 
<%- include ('./layout/footer'); %> -->