<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/user-profile.css">
  <title><%= result[0].BUS_COMPANY_NAME %></title>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <%- include ('./layout/navbar-bus-company'); %>
</head>
<style>
  .modal-content {
    margin-top: 0;
    /* Set top margin to 0 to remove the gap */
  }

  .star-container {
    position: relative;
    /* Adjust positioning as needed */
  }
</style>
<style>
  .star-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checked {
    color: orange;
  }
  .rounded-circle-img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
  }
  .square-img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border: 2px solid #fff;
  }
</style>

<body>
  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center position-relative">
                <button data-toggle="modal" data-target="#profilePicModal" style="border: 0;background-color: white;">
                  <img src="<%= busProfilePic %>" alt="Admin"
                  class="rounded-circle-img p-1 bg-primary">
                </button>
                <div class="modal fade" id="profilePicModal" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                          <img src="<%= busProfilePic %>" alt="Admin" class="square-img" style="justify-content: center;position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);">           
                          <br><br><br><br><br><br><br><br>
                          <button id="changeProfileBtn" class="btn btn-info btn-sm m-2" style="margin-top: 10px;">Change Profile Picture</button>
                          <form action="/bus-company-profile/profile_pic_change" method="POST" id="hiddenForm" style="display: none;">
                           <input type="hidden" name="filePath" id="filePathInput">
                          </form>
                          <input type="file" id="fileInput" style="display: none;">
                        </div>
                        <script>
                         const changeProfileBtn = document.getElementById('changeProfileBtn');
                         const fileInput = document.getElementById('fileInput');
                         const hiddenForm = document.getElementById('hiddenForm');
                         const filePathInput = document.getElementById('filePathInput');
                         changeProfileBtn.addEventListener('click', () => {
                           fileInput.click();
                         });
                         fileInput.addEventListener('change',()=>{
                          const selectedFile=fileInput.files[0];
                          console.log('Selected file:',selectedFile);
                          if(selectedFile){
                           filePathInput.value='/images/'+selectedFile.name;
                           console.log('File path input:',filePathInput.value);
                           hiddenForm.submit();
                          }
                         })
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
                  
                <div class="mt-3">
                  <h4>
                    <%= result[0].BUS_COMPANY_NAME %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card" style="width: auto;">
            <form action="/bus-company-profile/update" method="POST">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="busCompanyName" class="col-form-label">Name</label>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="busCompanyName" name="busCompanyName"
                        value="<%= result[0].BUS_COMPANY_NAME %>" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <!-- <h6 class="mb-0">Email</h6> -->
                    <label for="email" class="col-form-label">Email</label>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="email" name="email"
                      value="<%= result[0].EMAIL %>" required> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-9 text-secondary">
                    <button type="submit" class="btn btn-info btn-sm m-2">Save Changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <p><h3><i><b>&nbsp;&nbsp;All Buses</b></i></h3></p><br><br>
          <div class="card-container" style="display: flex; flex-wrap: wrap;">
            <% if (Array.isArray(busResult)) { %>
            <% busResult.forEach(function(bus) { %>
                <%- include('./busCard', {bus: bus}); %>
            <% }); %>
            <% } else if (busResult) { %>
                <% busResult = [busResult]; // Convert to array if not already %>
                <% busResult.forEach(function(bus) { %>
                    <%- include('./busCard', {bus: bus}); %>
                <% }); %>
            <% } else { %>
                <p>No data available.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div> 
</body>
<%- include ('./layout/footer'); %>

</html>

