<link rel="stylesheet" href="/css/routecard.css">

    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2" style="height: 320px;">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bx-bus"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0"><%= route.START_STAND %> to <%= route.END_STAND %></h6> <span><%= route.DISTANCE %> km</span>
                        </div>
                    </div>
                    <div class="badge"> <span><%= route.BUS_TYPE %></span> </div>
                </div>
                <div class="mt-5" style="height: 70px;">
                    <h2 class="heading" ><%= route.BUS_COMPANY_NAME %></h2>
                    <div class="mt-5">
                    </div>
                </div>
                <div class="mt-5" style="height: 50px;">
                    <h4 class="heading">⭐<%= route.BUS_RATING.toFixed(2) %></h4>
                    <h4 class="heading">&nbsp;৳ <%= route.TOTAL_COST.toFixed(2) %></h4>
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" >