<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/css/routecard.css"> -->
<link rel="stylesheet" href="/css/booking-card.css">
<link rel="stylesheet" href="/css/routecard.css">

</head>
<style>
    .rounded-img{
     width: 50px;
     height: 50px;
     object-fit: cover;
     border-radius: 50%;
    }
</style>
<body>
    <!-- <div class="card">
        <p>Start Stand: <%= route.START_STAND %></p>
        <p>End Stand: <%= route.END_STAND %></p>
        <p>Distance: <%= route.DISTANCE %> km</p>
        <p>Bus Type: <%= route.BUS_TYPE %></p>
        <p>Bus Company: <%= route.BUS_COMPANY_NAME %></p>
        <p>Cost: <%= route.TOTAL_COST %> tk</p>

        <!-- <form action="/routes/book/<%= route.ROUTE_ID %>" method="POST">
            <button type="submit">Book Ticket</button>
        </form> -->
    <!-- </div> --> 
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-2" style="height: 290px;width: 320px; ">
                <div class="d-flex align-items-center mt-2" style="height: 70px;">
                    <img src="<%= route.BUS_RELATED_MEDIA %>" class="rounded-img" alt="">
                    <h5 class="heading" style="font-weight: bold;"">&nbsp;&nbsp;<%= route.BUS_COMPANY_NAME %></h3><br>
                </div>
                <br>
                <h5 class="heading">&nbsp;<%=route.BUS_TYPE%></h5>
                <h4 class="heading">⭐<%= route.BUS_RATING.toFixed(2) %></h4>
                <div class="mt-2" style="height: 50px; ">
                    <h5 class="heading">&nbsp;<%=route.START_STAND %> to <%=route.END_STAND %></h5>
                    <h5 class="heading">&nbsp;<%=route.DISTANCE%> km</h5>
                    <h5 class="heading">&nbsp;Price: ৳ <%=route.TOTAL_COST.toFixed(2) %></h5>
                    
                </div>
                <br>
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div>&nbsp;</div>
                    <div class="heading date-time"> 
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>