<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/seat-booking.css">
</head>
<body>
    <div class="card">
        <h4>Start Stand: <i><%= route.START_STAND %></i></h4><br>
        <h4>End Stand: <i><%= route.END_STAND %></i></h4><br>
        <h4>Distance: <i><%= route.DISTANCE %> km</i></h4><br>
        <h4>Bus Type: <i><%= route.BUS_TYPE %></i></h4><br>
        <h4>Bus Company: <i> <%= route.BUS_COMPANY_NAME %></i></h4><br>
        <!-- <p>End Stand: <%= route.END_STAND %></p>
        <p>Distance: <%= route.DISTANCE %> km</p>
        <p>Bus Type: <%= route.BUS_TYPE %></p>
        <p>Bus Company: <%= route.BUS_COMPANY_NAME %></p> -->
        <!-- <p>Cost: <%= route.TOTAL_COST %> tk</p> -->

        <!-- <form action="/routes/book/<%= route.ROUTE_ID %>" method="POST"> -->
    </div>
</body>
</html>