<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/user-profile.css">
  <title>User</title>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <%- include ('./layout/navbar', {loggedIn: loggedIn}); %>
</head>
<style>
  .modal-content {
    margin-top: 0;
    /* Set top margin to 0 to remove the gap */
  }

  .star-container {
    position: relative;
    /* Adjust positioning as needed */
  }
</style>
<% for(let i=0;i<result5.length;i++){ %>
  <script>
    console.log('<%-JSON.stringify(result5[i])%>');
  </script>
<% } %>
<% for(let i=0;i<result2.length;i++){ %>
  <script>
    console.log('<%-JSON.stringify(result2[i])%>');
  </script>
<% } %>
<% for(let i=0;i<result4.length;i++){ %>
  <script>
    console.log('<%-JSON.stringify(result4[i])%>');
  </script>
<% } %>
<style>
  .star-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .star-container2 {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }

  .checked {
    color: orange;
  }
  .rounded-circle-img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
  }
  .square-img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border: 2px solid #fff;
  }
</style>
<body>
  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center position-relative">
                <button data-toggle="modal" data-target="#profilePicModal" style="border: 0;background-color: white;">
                  <img src="<%= result[0].PROFILE_PIC %>" alt="Admin"
                  class="rounded-circle-img p-1 bg-primary">
                </button>
                <div class="modal fade" id="profilePicModal" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                          <img src="<%= result[0].PROFILE_PIC %>" alt="Admin" class="square-img" style="justify-content: center;position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);"><br><br><br><br><br><br><br><br>
                          <button id="changeProfileBtn" class="btn btn-info btn-sm m-2" style="margin-top: 10px;">Change Profile Picture</button>
                          <form action="/user_profile/profile_pic_change" method="POST" id="hiddenForm" style="display: none;">
                           <input type="hidden" name="filePath" id="filePathInput">
                       </form>
                          <input type="file" id="fileInput" style="display: none;">
                        </div>
                        <script>
                         const changeProfileBtn = document.getElementById('changeProfileBtn');
                         const fileInput = document.getElementById('fileInput');
                         const hiddenForm = document.getElementById('hiddenForm');
                         const filePathInput = document.getElementById('filePathInput');
                         changeProfileBtn.addEventListener('click', () => {
                           fileInput.click();
                         });
                         fileInput.addEventListener('change',()=>{
                          const selectedFile=fileInput.files[0];
                          console.log('Selected file:',selectedFile);
                          if(selectedFile){
                           filePathInput.value='/images/'+selectedFile.name;
                           console.log('File path input:',filePathInput.value);
                           hiddenForm.submit();
                          }
                         })
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
                  
                <div class="mt-3">
                  <h4>
                    <%= result[0].NAME %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <div class="mt-3">
                  <form action="/user_profile/website_review" method="POST" id="websiteReviewForm">
                    <input type="hidden" name="starCount" id="starCount"
                    value="<%= result6[0].SCORE %>">

                    <div class="form-group">
                      <div class="star-container2" id="websiteReviewDiv">
                        <span class="fa fa-star fa-2x <%= result6[0].SCORE >= 1 ? 'checked' : '' %>"></span>
                        <span class="fa fa-star fa-2x <%= result6[0].SCORE >= 2 ? 'checked' : '' %>"></span>
                        <span class="fa fa-star fa-2x <%= result6[0].SCORE >= 3 ? 'checked' : '' %>"></span>
                        <span class="fa fa-star fa-2x <%= result6[0].SCORE >= 4 ? 'checked' : '' %>"></span>
                        <span class="fa fa-star fa-2x <%= result6[0].SCORE >= 5 ? 'checked' : '' %>"></span>
                      </div><br>
                      
                      <script>
                        document.addEventListener('DOMContentLoaded', () => {
                          const stars = document.querySelectorAll('.fa-star');
                          console.log(stars);
                          stars.forEach((star, index) => {
                            star.addEventListener('click', () => {
                              const selectedDiv = document.getElementById('websiteReviewDiv');
                              const stars = selectedDiv.querySelectorAll('.fa-star');
                              console.log(stars.length)
                              console.log(selectedDiv);
                              console.log(stars);

                              const isAlreadyChecked = star.classList.contains('checked');
                              console.log(isAlreadyChecked);



                              let isNextChecked = (index < stars.length - 1) ? stars[index + 1].classList.contains('checked') : false;
                              if (isNextChecked) {
                                for (let i = index + 1; i < stars.length; i++) {
                                  stars[i].classList.remove('checked');
                                }
                              } else {
                                for (let i = 0; i <= index; i++) {
                                  stars[i].classList.toggle('checked', !isAlreadyChecked);
                                }
                              }

                              for (let i = index + 1; i < stars.length; i++) {
                                stars[i].classList.remove('checked');
                              }
                              
                              const websiteReviewForm=document.querySelector('#websiteReviewForm');
                              console.log(websiteReviewForm)
                              const starCountInput = websiteReviewForm.querySelector('input[name="starCount"]');
                              console.log(starCountInput)
                              const checkedStars = selectedDiv.querySelectorAll('.fa-star.checked').length;
                              starCountInput.value = checkedStars;
                              console.log('Number of checked stars:', checkedStars);
                              console.log('Adjusted star count:', starCountInput.value);
                              

                            });
                          });
                        })
                      </script>
                      <div>
                        <br>
                        <label for="review">Review:</label>
                        <!-- <textarea class="form-control" id="review" name="review" rows="3" required></textarea> -->
                        <input type="text" class="form-control" id="review" name="review"
                          value="<%= result6[0].COMMENTS %>">
                      </div>
                      <div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card">
            <form action="/user_profile/update" method="POST">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <label for="username" class="form-label">Username</label>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="username" name="username"
                      value="<%= result[0].NAME %>" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="email" name="email"
                      value="<%= result[0].EMAIL %>" required> 
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="phoneNo" name="phoneNo"
                      value="<%= result[0].PHONE_NO %>" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">House</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="house" name="house"
                      value="<%= result[0].HOUSE %>">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Street</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="street" name="street"
                      value="<%= result[0].STREET %>" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">District</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <select name="district" id="district" class="form-control">
                     <script>
                      let stands='<%-JSON.stringify(stands)%>'
                     </script>
                     <% for(let i=0;i<stands.length;i++){ %>
                      <option value="<%=stands[i]%>"><%=stands[i]%></option>
                     <% } %>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Postal Code</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" id="postalCode" name="postalCode"
                      value="<%= result[0].POSTAL_CODE %>" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-9 text-secondary">
                    <button type="submit" class="btn btn-info btn-sm m-2">Save Changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <h1 style="text-align: center;">Upcoming Trips</h1>
                      <% if (result2.length> 0) { %>
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th>Bus Name</th>
                              <th>Bus Type</th>
                              <th>Start Stand</th>
                              <th>End Stand</th>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Seat Number</th>
                              <th>Ticket Price</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (let i=0; i < result2.length; i++) { %>
                              <tr>
                                <td>
                                  <%= result2[i].BUS_COMPANY_NAME %>
                                </td>
                                <td>
                                  <%= result2[i].BUS_TYPE %>
                                </td>
                                <td>
                                  <%= result2[i].START_STAND %>
                                </td>
                                <td>
                                  <%= result2[i].END_STAND %>
                                </td>
                                <td>
                                  <%= result2[i].TRAVEL_DATE %>
                                </td>
                                <td>
                                  <%= result2[i].TRAVEL_TIME %>
                                </td>
                                <td>
                                  <%= result2[i].SEAT_NUMBER %>
                                </td>
                                <td>
                                  <%= result2[i].TICKET_PRICE %>
                                </td>
                                <td>
                                  <form action="/user_profile/delete_ticket" method="POST">
                                    <input type="hidden" name="busCompanyName"
                                      value="<%= result2[i].BUS_COMPANY_NAME %>">
                                    <input type="hidden" name="busType" value="<%= result2[i].BUS_TYPE %>">
                                    <input type="hidden" name="startingStand" value="<%= result2[i].START_STAND %>">
                                    <input type="hidden" name="endingStand" value="<%= result2[i].END_STAND %>">
                                    <input type="hidden" name="travelDate" value="<%= result2[i].TRAVEL_DATE %>">
                                    <input type="hidden" name="travelTime" value="<%= result2[i].TRAVEL_TIME %>">
                                    <input type="hidden" name="seatNumber" value="<%= result2[i].SEAT_NUMBER %>">
                                    <!-- <input type="hidden" name="ticketId" value="<%= result4[i].TICKET_ID %>">  -->

                                    <button type="submit" class="btn btn-danger btn-sm m-2">Delete</button>
                                  </form>
                                </td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                        <% } else { %>
                          <h3 style="text-align: center;">No upcoming trips</h3>
                          <% } %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <h1 style="text-align: center;">Past Trips</h1>
                      <% if (result3.length> 0) { %>
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th>Bus Name</th>
                              <th>Bus Type</th>
                              <th>Start Stand</th>
                              <th>End Stand</th>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Seat Number</th>
                              <th>Ticket Price</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (let i=0; i < result3.length; i++) { %>
                              <tr>
                                <td>
                                  <%= result3[i].BUS_COMPANY_NAME %>
                                </td>
                                <td>
                                  <%= result3[i].BUS_TYPE %>
                                </td>
                                <td>
                                  <%= result3[i].START_STAND %>
                                </td>
                                <td>
                                  <%= result3[i].END_STAND %>
                                </td>
                                <td>
                                  <%= result3[i].TRAVEL_DATE %>
                                </td>
                                <td>
                                  <%= result3[i].TRAVEL_TIME %>
                                </td>
                                <td>
                                  <%= result3[i].SEAT_NUMBER %>
                                </td>
                                <td>
                                  <%= result3[i].TICKET_PRICE %>
                                </td>

                                <td>
                                  <button type="button" class="btn btn-info btn-sm m-2" data-toggle="modal"
                                    data-target="#reviewModal<%= i %>">Review</button>

                                  <div class="modal fade" id="reviewModal<%= i %>" tabindex="-1" role="dialog"
                                    aria-labelledby="reviewModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="reviewModalLabel">Write a Review</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form action="/user_profile/review" method="POST" id="reviewForm">
                                            <input type="hidden" name="busCompanyName"
                                              value="<%= result3[i].BUS_COMPANY_NAME %>">
                                            <input type="hidden" name="busType" value="<%= result3[i].BUS_TYPE %>">
                                            <input type="hidden" name="startingStand"
                                              value="<%= result3[i].START_STAND %>">
                                            <input type="hidden" name="endingStand" value="<%= result3[i].END_STAND %>">
                                            <input type="hidden" name="starCount" id="starCount"
                                              value="<%= result5[i].SCORE %>">
                                            <input type="hidden" name="travelTime" value="<%= result3[i].TRAVEL_TIME %>">

                                            <div class="form-group">
                                              <div class="star-container">
                                                <span class="fa fa-star fa-2x "></span>
                                                <span class="fa fa-star fa-2x "></span>
                                                <span class="fa fa-star fa-2x"></span>
                                                <span class="fa fa-star fa-2x"></span>
                                                <span class="fa fa-star fa-2x"></span>
                                              </div><br>
                                              <script>
                                                document.addEventListener('DOMContentLoaded', () => {
                                                  const selectedModal = document.getElementById('reviewModal<%= i %>');
                                                  const stars = selectedModal.querySelectorAll('.fa-star');
                                                  console.log(selectedModal);
                                                  console.log(stars);
                                                  stars.forEach((star, index) => {
                                                    const isAlreadyChecked = index < "<%= result5[i].SCORE %>";
                                                    console.log(index, "<%= result5[i].SCORE %>", isAlreadyChecked)
                                                    star.classList.toggle('checked', isAlreadyChecked);
                                                  })
                                                })
                                              </script>
                                              <div>
                                                <br><br><br>
                                                <label for="review">Review:</label>
                                                <!-- <textarea class="form-control" id="review" name="review" rows="3" required></textarea> -->
                                                <input type="text" class="form-control" id="review" name="review"
                                                  value="<%= result5[i].COMMENTS %>">
                                              </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit Review</button>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                        <% } else { %>
                          <h3 style="text-align: center;">No past trips</h3>
                          <% } %>
                          <script>
                            document.addEventListener('DOMContentLoaded', function () {
                              // Get all stars with the class 'fa-star' within the modal
                              const modals = document.querySelectorAll('.modal.fade');

                              modals.forEach((modal, modalIndex) => {
                                const stars = modal.querySelectorAll('.fa-star');

                                stars.forEach((star, index) => {
                                  star.addEventListener('click', () => {
                                    const isAlreadyChecked = star.classList.contains('checked');

                                    let isNextChecked = (index < stars.length - 1) ? stars[index + 1].classList.contains('checked') : false;
                                    if (isNextChecked) {
                                      for (let i = index + 1; i < stars.length; i++) {
                                        stars[i].classList.remove('checked');
                                      }
                                    } else {
                                      for (let i = 0; i <= index; i++) {
                                        stars[i].classList.toggle('checked', !isAlreadyChecked);
                                      }
                                    }

                                    for (let i = index + 1; i < stars.length; i++) {
                                      stars[i].classList.remove('checked');
                                    }
                                    
                                    const reviewForm = modal.querySelector('#reviewForm');
                                    console.log(reviewForm)
                                    const starCountInput = reviewForm.querySelector('input[name="starCount"]');
                                    const checkedStars = modal.querySelectorAll('.fa-star.checked').length;
                                    starCountInput.value = checkedStars;

                                    console.log('Number of checked stars:', checkedStars);
                                    console.log('Adjusted star count:', starCountInput.value);
                                  });
                                });
                              });
                            });
                          </script>
                    </div>
                  </div>
    </div>
  </div>
</body>
<%- include ('./layout/footer'); %>

</html>